<div id='blog'>
  <div id='tags'>
    <ul>
      <p><%= link_to "Все посты", posts_path %></p>
      <hr>
      <% @tags.each do |tag| %>
        <li><%= link_to "##{tag['_id']} (#{tag['value'].to_i})", posts_path(tag: tag['_id']) %></li>
      <% end %>
    </ul>
  </div>

  <div id='posts'>
    <h1>Приют программиста</h1>

    <% if session[:user_name] %>
      <%= link_to "Новый", new_post_path %> | 
      <%= link_to "Посты", posts_path %> |
      <%= link_to "Черновики", drafts_path %>
    <% end %>

    <hr/>

    <% @posts.each do |post| %>
      <div class='post'>
        <h3><%= link_to post.title, post %></h3>
        <div class='info'>
          Автор: <%= post.author.capitalize %> |
          Добавлен: <%= pubdate(post) %>
          <% if session[:user_name] %> 
            | <%= link_to 'Редактировать', edit_post_path(post) %> | 
            <%= link_to 'Удалить', post, method: 'DELETE', data: {confirm: "Вы уверены?"} %>
          <% end %>
        </div>

        <div class='post_body'><%= raw post.get_body %></div>

        <% if post.tags %>
          <div class='tags'>
            <% post.tags.each do |tag| %>
              <%= link_to '#'+tag, posts_path(tag: tag) %>
            <% end %>
          </div>
        <% end %>
        <%= link_to "Комментировать (#{post.comments.count})", post_path(post, anchor: 'comments'), class: 'to_comments' %>
      </div>
    <% end %>

    <div id='page_links'>
      <%= link_to"← Предыдущие", posts_path(@next_page) if @next_page%>
      <%= link_to "Следующие →", posts_path(@prev_page) if @prev_page%>
    </div>
  </div>
</div>