<div id='blog'>
  <div id='post'>
    <h3><%= @post.title %></h3>

    <div class='info'>
      Автор: <%= @post.author.capitalize %> |
      Добавлен: <%= pubdate(@post) %>
      <% if session[:user_name] %> 
        | <%= link_to 'Редактировать', edit_post_path(@post) %> | 
        <%= link_to 'Удалить', @post, method: 'DELETE', data:{confirm: 'Вы уверены?'} %>
      <% end %>
    </div>

    <hr/>

    <div class='post_body'><%= raw @post.get_body %></div>

    (<%= link_to '← Назад', posts_path %>)<br/>
  </div>

  <div id='comments'>

    <h3>Комментарии:</h3>

    <a href='#new_comment'>Добавить комментарий</a>

    <div>
      <% @post.comments.each do |comment| %>
        <hr/>
        <div class='comment'>
          <span><%= pubdate(comment) %>: <strong><%= comment.author %></strong> написал:</span><br>
          <span class='text'><%= comment.body %></span>
        </div>
      <% end %>
    </div><br/>

    <%= render 'comment' %>

  </div>  
</div>