<!DOCTYPE html>
<html>
<head>
  <title>Midispot</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <%= link_to "Блог", posts_path %>
  </header>

  <div id='wrapper'>
    <div id='buffer_top'></div>

    <section id='main'>
      <%= yield %>
    </section>

    <div id='buffer_bottom'></div>
  </div>
  
  <footer>
    <span>
      <% if session[:user_name] %>
        Вы вошли как <%= session[:user_name].capitalize %>
        (<%= link_to 'Выйти', login_path, method: 'DELETE' %>)
      <% else %>
        <%= link_to 'Вход', login_path  %>
      <% end %>
    </span>
  </footer>
</body>
</html>
